// Variables
@import './utilities/variables';
@import './utilities/mixins';
@import './base/reset';
@import './layout/header';
@import './layout/footer';

//  PRINCIPAL //
html {
    @include fontSize(62.5%);
}

.principal {
    @include background(no-repeat, cover, center, 90.5vh, fixed);
    background-image: url(../images/Kep1er-22.jpg);

    .principal__social {
        list-style: none;
        @include flexbox(0, center, none);
        margin-bottom: 0px;

        li {
            @include padding(67rem, 5rem, 0, 5rem);
            @include fontSize(5rem);

            @include mobile() {
                @include padding(68rem, 1rem, 0, 1rem);
                @include fontSize(2rem);
                text-align: center;
            }

            @include tablet() {
                @include padding(70rem, 1rem, 0, 1rem);
                @include fontSize(2.5rem);
                text-align: center;
            }

            @include extra() {
                @include padding(69rem, 1rem, 0, 1rem);
                @include fontSize(3rem);
                text-align: center;
            }

            a {
                text-decoration: none;
                color: $ppal;
                text-shadow: $sombraSocial;

                &:hover {
                    i {
                        color: #3d1c05;
                    }
                }
            }
        }
    }

    .principal__titulo {
        font-family: $fontUnbounded;
        @include fontSize(8rem);
        color: $ppal;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 1rem;
        text-shadow: $sombraTitulo;

        @include mobile() {
            @include fontSize(3rem);
            @include margin(0, 15px, 0, 15px);
        }

        @include tablet() {
            @include fontSize(3.5rem);
            text-align: center;
            @include margin(0, 15px, 0, 15px);
        }

        @include extra() {
            @include fontSize(5rem);
            text-align: center;
            @include margin(0, 15px, 0, 15px);
        }
    }
}

// DISCOGRAFÍA //
.discografia__fondo {
    @include background(no-repeat, cover, center, 91.8vh, fixed);
    background-image: url(../images/Discografia.jpg);

    .discografia__titulo {
        font-family: $fontUnbounded;
        @include fontSize(4rem);
        color: $ppal;
        text-align: left;
        margin-left: 6rem;
        @include padding(10rem, 0, 3rem, 0);
        text-shadow: $sombraTitulo;

        @include mobile() {
            @include fontSize(2.5rem);
            text-align: center;
            margin-left: 1px;
        }

        @include tablet() {
            @include fontSize(3rem);
            text-align: center;
            margin-left: 0px;
            padding-bottom: 1rem;
        }
    }

    .discografia__contenedor {
        .discografia__subtitulo {
            font-family: $fontUnbounded;
            @include fontSize(2.5rem);
            color: $ppal;
            text-align: left;
            margin-left: 6rem;
            text-shadow: $sombraTitulo;

            @include mobile() {
                @include fontSize(2rem);
                text-align: center;
                padding-bottom: 1rem;
                margin-left: 0px;
            }

            @include tablet() {
                @include fontSize(2rem);
                text-align: center;
                padding-bottom: 1rem;
                margin-left: 0px;
            }
        }

        .discografia__spotify {
            @include margin(1.5rem, 0, 3rem, 2.4%);
            @include sizes(30%, 352px);

            @include mobile() {
                align-items: center;
                @include sizes(95%, 80px);
            }

            @include tablet() {
                align-items: center;
                @include sizes(95%, 80px);
            }
        }
    }
}

// FANCLUB //
.fanclub__fondo {
    @include background(no-repeat, cover, center, 90.5vh, fixed);
    background-image: url(../images/Fanclub.jpg);

    .fanclub__contenedor {
        font-family: $fontUnbounded;
        @include sizes(1190px, auto);
        background-color: black;
        background-position: center;
        overflow: auto;
        margin: 0 auto;

        @include mobile() {
            background-color: #000;
            @include sizes(100%, auto);
        }

        @include tablet() {
            background-color: #000;
            @include sizes(100%, auto);
        }

        @include extra() {
            background-color: #000;
            @include sizes(100%, auto);
        }

        .fanclub__titulo {
            font-family: $fontUnbounded;
            text-align: center;
            color: $ppal;
            @include fontSize(6rem);
            margin-top: 7rem;

            @include mobile() {
                @include fontSize(2rem);
            }

            @include tablet() {
                @include fontSize(3rem);
            }

            @include extra() {
                @include fontSize(5rem);
            }
        }

        .contenedor--gris {
            margin-top: 2rem;
            @include sizes(auto, 696px);
            background-color: rgb(196, 196, 196);

            @include mobile() {
                @include sizes(auto, 100%);
            }

            @include tablet() {
                @include sizes(auto, 100%);
            }

            @include extra() {
                @include sizes(auto, 100%);
            }

            .fanclub__video {
                padding-top: 10rem;
                margin-left: 10rem;

                @include mobile() {
                    padding-top: 2rem;
                    margin-left: 1rem;
                    width: 95%;
                }

                @include tablet() {
                    padding-top: 2rem;
                    margin-left: 2.5%;
                    margin-right: 1rem;
                    width: 95%;
                }

                @include extra() {
                    padding-top: 2rem;
                    margin-left: 2.5%;
                    margin-right: 1rem;
                    width: 95%;
                }
            }

            .formulario {
                float: right;
                margin-right: 13rem;
                margin-top: 2rem;
                @include fontSize(2rem);

                @include mobile() {
                    float: none;
                    @include fontSize(1.5rem);
                    margin-right: 5rem;
                    margin-left: 5rem;
                    margin-top: 3rem;
                }

                @include tablet() {
                    float: none;
                    @include fontSize(1.5rem);
                    margin-right: 5rem;
                    margin-left: 5rem;
                    margin-top: 3rem;
                }

                @include extra() {
                    float: none;
                    @include fontSize(1.5rem);
                    margin-right: 5rem;
                    margin-left: 5rem;
                    margin-top: 3rem;
                }


                .form__input {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 1px;
                    width: 100%;
                    cursor: pointer;
                }

                .form__label {
                    margin-top: 2rem;
                    display: block;

                    @include mobile() {
                        display: flex;
                    }

                    @include tablet() {
                        display: block;
                    }

                    @include extra() {
                        display: block;
                    }

                }

                .form__text {
                    font-size: 1.4rem;
                    display: inline-block;
                    margin-left: 5px;
                    padding-top: 5px;

                    @include mobile() {
                        @include fontSize(1.2rem);
                        display: inline;
                    }

                    @include tablet() {
                        @include fontSize(1.2rem);
                        display: inline;
                    }

                    @include extra() {
                        @include fontSize(1.3rem);
                        display: inline;
                    }
                }

                .boton {
                    height: 35px;
                    width: auto;
                    @include sizes(auto, 35px);
                    @include padding(0, 35px, 0, 35px);
                    margin-top: 1rem;
                    font-family: $fontUnbounded;
                    outline: none;
                    background: $ppal;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #cdafff;
                    }

                    @include mobile() {
                        @include fontSize(1rem);
                        @include sizes(40%, 20px);
                        @include padding(0, 5px, 0, 5px);
                        margin-bottom: 2rem;
                    }

                    @include tablet() {
                        @include fontSize(1.2rem);
                        @include sizes(30%, 20px);
                        @include padding(0, 5px, 0, 5px);
                        margin-bottom: 2rem;
                    }

                    @include extra() {
                        @include fontSize(1.2rem);
                        @include sizes(30%, 20px);
                        @include padding(0, 5px, 0, 5px);
                        margin-bottom: 2rem;
                    }
                }
            }

            .fanclub__subtitulo {
                font-family: $fontUnbounded;
                color: black;
                @include fontSize(2rem);
                margin-top: 4rem;
                margin-left: 10rem;

                @include mobile() {
                    @include fontSize(1.5rem);
                    margin-top: 0rem;
                    text-align: center;
                    margin-left: 0%;
                }

                @include tablet() {
                    margin-top: 0rem;
                    text-align: center;
                    margin-left: 0%;
                }

                @include extra() {
                    margin-top: 0rem;
                    text-align: center;
                    margin-left: 0%;
                }
            }

            .fanclub__beneficios {
                padding-left: 11.5rem;
                margin: 5px;
                @include fontSize(1.5rem);

                @include mobile() {
                    @include fontSize(1rem);
                    padding-left: 2rem;
                    padding-bottom: 10px;
                }

                @include tablet() {
                    @include fontSize(1.3rem);
                    margin-right: 2rem;
                    padding-left: 6rem;
                    padding-bottom: 20px;
                }

                @include extra() {
                    margin-right: 2rem;
                    padding-left: 6rem;
                    padding-bottom: 20px;
                }
            }
        }
    }
}

// GALERIA //
.galeria__fondo {
    @include background(no-repeat, cover, center, 91.8vh, fixed);
    background-image: url(../images/Discografia.jpg);

    .galeria__titulo {
        font-family: $fontUnbounded;
        @include fontSize(4rem);
        font-size: 4rem;
        color: $ppal;
        text-align: left;
        text-shadow: $sombraTitulo;
        @include padding(10rem, 0, 1rem, 0);
        margin-left: 6rem;

        @include mobile() {
            @include fontSize(3rem);
            margin-left: 0px;
            padding-top: 8rem;
            text-align: center;
        }

        @include tablet() {
            @include fontSize(4rem);
            margin-left: 0px;
            padding-top: 7rem;
            text-align: center;
        }
    }

    .galeria__containerFotos {
        @include gridBox(5, 10px);
        grid-auto-rows: 150px;
        @include padding(10px, 60px, 40px, 60px);

        .galeria__img {
            object-fit: cover;
            @include sizes(100%, 100%);
        }

        .galeria__item:nth-child(1) {
            grid-column-start: span 3;
            grid-row-start: span 4;
        }

        .galeria__item:nth-child(2) {
            grid-row-start: span 3;
        }

        .galeria__item:nth-child(3) {
            grid-row-start: span 3;
        }

        .galeria__item:nth-child(4) {
            grid-column-start: span 2;
        }

        .galeria__item:nth-child(5) {
            grid-column-start: span 3;
            grid-row-start: span 2;
        }

        .galeria__item:nth-child(6) {
            grid-row-start: span 3;
        }

        .galeria__item:nth-child(7) {
            grid-row-start: span 3;
        }

        .galeria__item:nth-child(8) {
            grid-row-start: span 3;
        }

        .galeria__item:nth-child(9) {
            grid-row-start: span 3;
            grid-column-start: span 2;
        }

        .galeria__item:nth-child(10) {
            grid-row-start: span 2;
            grid-column-start: span 2;
        }

        @include mobile() {
            .galeria__containerFotos {
                @include padding(10px, 20px, 20px, 20px);
                grid-gap: 10px;
            }

            .galeria__item:nth-child(1) {
                grid-column-start: span 5;
                grid-row-start: span 1;
            }

            .galeria__item:nth-child(2) {
                grid-row-start: span 1;
                grid-column-start: span 3;
            }

            .galeria__item:nth-child(3) {
                grid-row-start: span 1;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(4) {
                grid-column-start: span 5;
            }

            .galeria__item:nth-child(5) {
                grid-column-start: span 3;
                grid-row-start: span 2;
            }

            .galeria__item:nth-child(6) {
                grid-row-start: span 1;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(7) {
                grid-row-start: span 1;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(8) {
                grid-row-start: span 2;
                grid-column-start: span 5;
            }

            .galeria__item:nth-child(9) {
                grid-row-start: span 2;
                grid-column-start: span 5;
            }

            .galeria__item:nth-child(10) {
                grid-row-start: span 2;
                grid-column-start: span 5;
            }
        }

        @include tablet() {
            .galeria__containerFotos {
                @include padding(10px, 20px, 20px, 20px);
                grid-gap: 10px;
            }

            .galeria__item:nth-child(1) {
                grid-column-start: span 5;
                grid-row-start: span 2;
            }

            .galeria__item:nth-child(2) {
                grid-row-start: span 2;
                grid-column-start: span 3;
            }

            .galeria__item:nth-child(3) {
                grid-row-start: span 2;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(4) {
                grid-column-start: span 5;
            }

            .galeria__item:nth-child(5) {
                grid-column-start: span 5;
                grid-row-start: span 2;
            }

            .galeria__item:nth-child(6) {
                grid-row-start: span 3;
                grid-column-start: span 3;
            }

            .galeria__item:nth-child(7) {
                grid-row-start: span 3;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(8) {
                grid-row-start: span 3;
                grid-column-start: span 5;
            }

            .galeria__item:nth-child(9) {
                grid-row-start: span 3;
                grid-column-start: span 5;
            }

            .galeria__item:nth-child(10) {
                grid-row-start: span 3;
                grid-column-start: span 5;
            }
        }

        @include extra() {
            .galeria__containerFotos {
                padding: 10px 20px 20px 20px;
                grid-gap: 10px;
            }

            .galeria__item:nth-child(1) {
                grid-column-start: span 5;
                grid-row-start: span 3;
            }

            .galeria__item:nth-child(2) {
                grid-row-start: span 3;
                grid-column-start: span 3;
            }

            .galeria__item:nth-child(3) {
                grid-row-start: span 3;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(4) {
                grid-column-start: span 5;
                grid-row-start: span 2;
            }

            .galeria__item:nth-child(5) {
                grid-column-start: span 5;
                grid-row-start: span 2;
            }

            .galeria__item:nth-child(6) {
                grid-row-start: span 5;
                grid-column-start: span 3;
            }

            .galeria__item:nth-child(7) {
                grid-row-start: span 3;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(8) {
                grid-row-start: span 2;
                grid-column-start: span 2;
            }

            .galeria__item:nth-child(9) {
                grid-row-start: span 3;
                grid-column-start: span 3;
            }

            .galeria__item:nth-child(10) {
                grid-row-start: span 3;
                grid-column-start: span 2;
            }
        }
    }
}

// INTEGRANTES //
.integrantes__fondo {
    @include background(no-repeat, cover, center, 100vh, fixed);
    background-image: url(../images/Integrantes.jpg);

    .integrantes__titulo {
        font-family: $fontUnbounded;
        @include fontSize(4rem);
        color: $ppal;
        text-align: center;
        text-shadow: $sombraTitulo;
        padding-top: 8rem;
        padding-bottom: 1rem;
        margin-bottom: 0px;

        @include mobile() {
            @include fontSize(3rem);
        }

        @include tablet() {
            @include fontSize(3rem);
        }
    }

    .integrantes__subtitulo--dos {
        font-family: $fontUnbounded;
        @include fontSize(2rem);
        color: $ppal;
        text-shadow: $sombraTitulo;
        text-align: center;

        @include mobile() {
            @include fontSize(1.5rem);
        }
    }

    .integrantes__contenedor {
        @include gridBox(3, 0);
        justify-items: center;

        @include mobile() {
            @include gridBox(1, 0);
            justify-items: center;
        }

        @include tablet() {
            @include gridBox(1, 0);
            justify-items: center;
        }

        .card {
            width: 238px;
            @include margin(2rem, 0, 2rem, 0);
            transition: all 300ms;
            background-color: transparent;
            border: transparent;

            &:hover {
                transform: scale(1.10);
            }

            .integrantes__subtitulo {
                font-family: $fontUnbounded;
                @include fontSize(2rem);
                color: $ppal;
                text-shadow: $sombraTitulo;
                text-align: center;
            }

            .integrantes__img {
                @include sizes(238px, 340px);
                cursor: pointer;
            }
        }
    }
}

// PERFILES //
.integrantes__fondo {
    @include background(no-repeat, cover, center, 100vh, fixed);
    background-image: url(../images/Integrantes.jpg);

    .container {
        padding-right: 0px;
        padding-left: 0px;

        .integrante__titulo {
            font-family: $fontUnbounded;
            @include padding(9rem, 0, 2rem, 0);
            @include fontSize(5rem);

            @include mobile() {
                @include fontSize(3.5rem);
            }

            @include tablet() {
                @include fontSize(4rem);
            }
        }

        .integrante__texto {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: 0px;
            padding-bottom: 1rem;
        }

        .carousel {
            @include margin(2rem, 0, 2rem, 0);
        }
    }
}

// SOBRE KEP1ER //
.sobrekep__fondo {
    @include background(no-repeat, cover, center, 100vh, fixed);
    background-image: url(../images/SobreKep1er.jpg);

    .sobrekep__titulo {
        font-family: $fontUnbounded;
        @include fontSize(4rem);
        color: $ppal;
        text-align: left;
        text-shadow: $sombraTitulo;
        padding-top: 10rem;
        padding-bottom: 3rem;
        margin-left: 6rem;

        @include mobile() {
            @include fontSize(3.5rem);
            text-align: center;
            padding-top: 9rem;
            margin-left: 0rem;
        }

        @include tablet() {
            @include fontSize(3.5rem);
            text-align: center;
            padding-top: 9rem;
            margin-left: 0rem;
        }

        @include extra() {
            @include fontSize(3.5rem);
            text-align: center;
            padding-top: 9rem;
            margin-left: 0rem;
        }
    }

    .sobrekep__textovideo {
        display: flex;
        background-color: #000;

        @include mobile() {
            display: block;
        }

        @include tablet() {
            display: block;
        }

        @include extra() {
            display: block;
        }

        .sobrekep__texto {
            display: flex;
            flex-direction: column;

            @include mobile() {
                display: block;
            }

            @include tablet() {
                display: block;
            }

            @include extra() {
                display: block;
            }

            .sobrekep__subtitulo--izquierda {
                font-family: $fontUnbounded;
                color: $ppal;
                @include fontSize(2.3rem);
                margin-left: 18rem;
                margin-top: 1.5rem;
                background-color: #000;

                @include mobile() {
                    @include fontSize(2rem);
                    margin-left: 0rem;
                    margin-top: 0rem;
                    padding-top: 2rem;
                    text-align: center;
                }

                @include tablet() {
                    @include fontSize(2rem);
                    margin-left: 0rem;
                    margin-top: 0rem;
                    padding-top: 2rem;
                    text-align: center;
                }

                @include extra() {
                    @include fontSize(2rem);
                    margin-left: 0rem;
                    margin-top: 0rem;
                    padding-top: 2rem;
                    text-align: center;
                }
            }

            .sobrekep__texto--izquierda {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
                color: $ppal;
                @include fontSize(1.7rem);
                margin: 10px;
                margin-left: 18rem;

                @include mobile() {
                    @include fontSize(1.7rem);
                    margin: 10px;
                    text-align: left;
                }

                @include tablet() {
                    @include fontSize(1.7rem);
                    margin: 10px;
                    text-align: left;
                }

                @include extra() {
                    @include fontSize(1.7rem);
                    margin: 10px;
                    text-align: left;
                    margin-right: 4rem;
                    margin-left: 4rem;
                }
            }
        }

        .sobrekep__video {
            width: 1640px;
            height: 310px;
            @include sizes(1640px, 310px);
            margin: 7px;
            @include margin(3rem, 18rem, 3rem, 0);

            @include mobile() {
                @include sizes(95%, 250px);
                margin: 7px;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            @include tablet() {
                @include sizes(98%, 250px);
                margin: 7px;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            @include extra() {
                @include sizes(50%, 250px);
                margin: 7px;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                margin-left: 25%;
            }
        }
    }

    .sobrekep__textoimg {
        display: flex;
        background-color: black;

        @include mobile() {
            display: block;
        }

        @include tablet() {
            display: block;
        }

        @include extra() {
            display: block;
        }

        .sobrekep__img {
            @include sizes(540px, 305px);
            padding-left: 18rem;
            margin-top: 3rem;
            margin-bottom: 3rem;

            @include mobile() {
                @include sizes(100%, auto);
                padding-left: 0rem;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                padding-bottom: 0px;
            }

            @include tablet() {
                @include sizes(100%, auto);
                padding-left: 0rem;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                padding-bottom: 0px;
            }

            @include extra() {
                @include sizes(80%, auto);
                padding-left: 10%;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                padding-bottom: 0px;
            }
        }

        .sobrekep__texto {
            display: flex;
            flex-direction: column;

            @include mobile() {
                display: block;
            }

            @include tablet() {
                display: block;
            }

            @include extra() {
                display: block;
            }

            .sobrekep__subtitulo--derecha {
                font-family: $fontUnbounded;
                color: $ppal;
                @include fontSize(2.3rem);
                @include margin(2rem, 18rem, 0, 5.5rem);

                @include mobile() {
                    @include fontSize(2rem);
                    text-align: center;
                    @include margin(1rem, 0rem, 0, 0rem);
                }

                @include tablet() {
                    @include fontSize(2rem);
                    text-align: center;
                    @include margin(1rem, 0rem, 0, 0rem);
                }

                @include extra() {
                    @include fontSize(2.5rem);
                    text-align: center;
                    @include margin(1rem, 0rem, 0, 0rem);
                }
            }

            .sobrekep__texto--derecha {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: $ppal;
                @include fontSize(1.6rem);
                margin: 10px;
                margin-right: 18rem;
                margin-left: 5.3rem;

                @include mobile() {
                    @include fontSize(1.6rem);
                    margin: 10px;
                    margin-right: 0rem;
                    margin-left: 1rem;
                    padding-bottom: 2rem;
                }

                @include tablet() {
                    @include fontSize(1.6rem);
                    margin: 10px;
                    margin-right: 0rem;
                    margin-left: 1rem;
                    padding-bottom: 2rem;
                }

                @include extra() {
                    @include fontSize(1.6rem);
                    margin: 10px;
                    margin-right: 0rem;
                    margin-left: 1rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

// Error 404 //

.error__main {
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    min-height: 90.5vh;

    @include mobile() {
        flex-direction: column;
    }

    .error__img {
        @include padding(11rem, 2rem, 10rem, 15rem);
        @include sizes(40%, 40%);

        @include mobile() {
            @include padding(8rem, 0, 2rem, 1.5rem);
            @include sizes(90%, auto);
        }

        @include tablet() {

            @include padding(25rem, 0, 2rem, 6rem);
            @include sizes(50%, 50%);
        }

        @include extra() {
            @include padding(20rem, 0, 2rem, 6rem);
            @include sizes(50%, 50%);
        }
    }

    .error__texto {
        flex-direction: column;

        .error__titulo {
            font-family: $fontUnbounded;
            color: black;
            font-weight: bold;
            @include fontSize(8rem);
            margin-top: 17rem;
            margin-left: 0%;
            text-align: start;

            @include mobile() {
                @include fontSize(3rem);
                margin-top: 1rem;
                margin-left: 0%;
                text-align: center;
            }

            @include tablet() {
                @include fontSize(4rem);
                margin-top: 35rem;
                margin-left: 0%;
                text-align: center;
            }

            @include extra() {
                @include fontSize(5rem);
                margin-top: 35rem;
                margin-left: 0%;
                text-align: center;
            }
        }

        .error__subtitulo {
            font-family: $fontUnbounded;
            color: black;
            @include fontSize(4rem);
            margin-left: 0%;
            text-align: center;

            @include mobile() {
                @include fontSize(1.5rem);
                text-align: center;
            }

            @include tablet() {
                @include fontSize(2rem);
                margin-left: 1%;
                text-align: center;
            }

            @include extra() {
                @include fontSize(2rem);
                margin-left: 1%;
                text-align: center;
            }

        }

        a {
            text-decoration: none;

            .error__p {
                font-family: $fontUnbounded;
                color: rgb(61, 61, 61);
                @include fontSize(2rem);
                text-align: start;
                padding-top: 1rem;

                &:hover {
                    color: #3d1c05;
                }

                @include mobile() {
                    @include fontSize(1.5rem);
                    text-align: center;

                }

                @include tablet() {
                    @include fontSize(1.5rem);
                    text-align: center;
                }

                @include extra() {
                    @include fontSize(1.5rem);
                    text-align: center;
                }


            }
        }

    }


}