// INTEGRANTES //
.integrantes__fondo {
    @include background(no-repeat, cover, center, 100vh, fixed);
    background-image: url(../images/Integrantes.jpg);

    .integrantes__titulo {
        font-family: $fontUnbounded;
        @include fontSize(4rem);
        color: $ppal;
        text-align: center;
        text-shadow: $sombraTitulo;
        padding-top: 8rem;
        padding-bottom: 1rem;
        margin-bottom: 0px;

        @include mobile() {
            @include fontSize(3rem);
        }

        @include tablet() {
            @include fontSize(3rem);
        }
    }

    .integrantes__subtitulo--dos {
        font-family: $fontUnbounded;
        @include fontSize(2rem);
        color: $ppal;
        text-shadow: $sombraTitulo;
        text-align: center;

        @include mobile() {
            @include fontSize(1.5rem);
        }
    }

    .integrantes__contenedor {
        @include gridBox(3, 0);
        justify-items: center;

        @include mobile() {
            @include gridBox(1, 0);
            justify-items: center;
        }

        @include tablet() {
            @include gridBox(1, 0);
            justify-items: center;
        }

        .card {
            width: 238px;
            @include margin(2rem, 0, 2rem, 0);
            transition: all 300ms;
            background-color: transparent;
            border: transparent;

            &:hover {
                transform: scale(1.10);
            }

            .integrantes__subtitulo {
                font-family: $fontUnbounded;
                @include fontSize(2rem);
                color: $ppal;
                text-shadow: $sombraTitulo;
                text-align: center;
            }

            .integrantes__img {
                @include sizes(238px, 340px);
                cursor: pointer;
            }
        }
    }
}