// SOBRE KEP1ER //
.sobrekep__fondo {
    @include background(no-repeat, cover, center, 100vh, fixed);
    background-image: url(../../images/sobrekep1er.svg);

    .sobrekep__titulo {
        font-family: $fontUnbounded;
        @include fontSize(4rem);
        color: map-get($map: $palette, $key: 'white');
        text-align: left;
        text-shadow: $sombraTitulo;
        padding-top: 10rem;
        padding-bottom: 3rem;
        margin-left: 6rem;

        @include mobile() {
            @include fontSize(3.5rem);
            text-align: center;
            padding-top: 9rem;
            margin-left: 0rem;
        }

        @include tablet() {
            @include fontSize(3.5rem);
            text-align: center;
            padding-top: 9rem;
            margin-left: 0rem;
        }

        @include extra() {
            @include fontSize(3.5rem);
            text-align: center;
            padding-top: 9rem;
            margin-left: 0rem;
        }
    }

    .sobrekep__textovideo {
        display: flex;
        background-color: map-get($map: $palette, $key: 'black');

        @include mobile() {
            display: block;
        }

        @include tablet() {
            display: block;
        }

        @include extra() {
            display: block;
        }

        .sobrekep__texto {
            display: flex;
            flex-direction: column;

            @include mobile() {
                display: block;
            }

            @include tablet() {
                display: block;
            }

            @include extra() {
                display: block;
            }

            .sobrekep__subtitulo--izquierda {
                font-family: $fontUnbounded;
                color: map-get($map: $palette, $key: 'white');
                @include fontSize(2.3rem);
                margin-left: 18rem;
                margin-top: 1.5rem;
                background-color: map-get($map: $palette, $key: 'black');

                @include mobile() {
                    @include fontSize(2rem);
                    margin-left: 0rem;
                    margin-top: 0rem;
                    padding-top: 2rem;
                    text-align: center;
                }

                @include tablet() {
                    @include fontSize(2rem);
                    margin-left: 0rem;
                    margin-top: 0rem;
                    padding-top: 2rem;
                    text-align: center;
                }

                @include extra() {
                    @include fontSize(2rem);
                    margin-left: 0rem;
                    margin-top: 0rem;
                    padding-top: 2rem;
                    text-align: center;
                }
            }

            .sobrekep__texto--izquierda {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
                color: map-get($map: $palette, $key: 'white');
                @include fontSize(1.7rem);
                margin: 10px;
                margin-left: 18rem;

                @include mobile() {
                    @include fontSize(1.7rem);
                    margin: 10px;
                    text-align: left;
                }

                @include tablet() {
                    @include fontSize(1.7rem);
                    margin: 10px;
                    text-align: left;
                }

                @include extra() {
                    @include fontSize(1.7rem);
                    margin: 10px;
                    text-align: left;
                    margin-right: 4rem;
                    margin-left: 4rem;
                }
            }
        }

        .sobrekep__video {
            width: 1640px;
            height: 310px;
            @include sizes(1640px, 310px);
            margin: 7px;
            @include margin(3rem, 18rem, 3rem, 0);

            @include mobile() {
                @include sizes(95%, 250px);
                margin: 7px;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            @include tablet() {
                @include sizes(98%, 250px);
                margin: 7px;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            @include extra() {
                @include sizes(50%, 250px);
                margin: 7px;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                margin-left: 25%;
            }
        }
    }

    .sobrekep__textoimg {
        display: flex;
        background-color: map-get($map: $palette, $key: 'black');

        @include mobile() {
            display: block;
        }

        @include tablet() {
            display: block;
        }

        @include extra() {
            display: block;
        }

        .sobrekep__img {
            @include sizes(540px, 305px);
            padding-left: 18rem;
            margin-top: 3rem;
            margin-bottom: 3rem;

            @include mobile() {
                @include sizes(100%, auto);
                padding-left: 0rem;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                padding-bottom: 0px;
            }

            @include tablet() {
                @include sizes(100%, auto);
                padding-left: 0rem;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                padding-bottom: 0px;
            }

            @include extra() {
                @include sizes(80%, auto);
                padding-left: 10%;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                padding-bottom: 0px;
            }
        }

        .sobrekep__texto {
            display: flex;
            flex-direction: column;

            @include mobile() {
                display: block;
            }

            @include tablet() {
                display: block;
            }

            @include extra() {
                display: block;
            }

            .sobrekep__subtitulo--derecha {
                font-family: $fontUnbounded;
                color: map-get($map: $palette, $key: 'white');
                @include fontSize(2.3rem);
                @include margin(2rem, 18rem, 0, 5.5rem);

                @include mobile() {
                    @include fontSize(2rem);
                    text-align: center;
                    @include margin(1rem, 0rem, 0, 0rem);
                }

                @include tablet() {
                    @include fontSize(2rem);
                    text-align: center;
                    @include margin(1rem, 0rem, 0, 0rem);
                }

                @include extra() {
                    @include fontSize(2.5rem);
                    text-align: center;
                    @include margin(1rem, 0rem, 0, 0rem);
                }
            }

            .sobrekep__texto--derecha {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: map-get($map: $palette, $key: 'white');
                @include fontSize(1.6rem);
                margin: 10px;
                margin-right: 18rem;
                margin-left: 5.3rem;

                @include mobile() {
                    @include fontSize(1.6rem);
                    margin: 10px;
                    margin-right: 0rem;
                    margin-left: 1rem;
                    padding-bottom: 2rem;
                }

                @include tablet() {
                    @include fontSize(1.6rem);
                    margin: 10px;
                    margin-right: 0rem;
                    margin-left: 1rem;
                    padding-bottom: 2rem;
                }

                @include extra() {
                    @include fontSize(1.6rem);
                    margin: 10px;
                    margin-right: 0rem;
                    margin-left: 1rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}