// FUENTES //
$fontUnbounded: 'Unbounded', cursive;

// COLORES //
$palette: (
    'white': white,
    'black': black,
    'brown': #3d1c05,
    'lila': #cdafff,
    'lightgray': rgb(196, 196, 196),
    'gray': rgb(61, 61, 61),
    'lighterblack': #111,
);

// SOMBRA //
$sombraTitulo: 8px 2px 8px #000;
$sombraSocial: 3px 2px 5px #000;