/* Header */
.logo {
    display: flex;
    align-items: center;

    a {
        img {
            height: 50px;
        }
    }
}

/* Barra de navegación */
nav {
    ul {
        li {
            a {
                font-family: $fontUnbounded;
                margin: 1rem;
                @include fontSize(medium);
            }
        }
    }
}